@model DeltaDucks.Web.ViewModels.NotVisitedLandmarksViewModel
@{
    ViewBag.Title = "Visited";
}

<h2 class="user-score-heading">Събрани точки: @Model.Score</h2>

@foreach (var item in Model.NotVisitedLandmarks)
{
    <button onclick="enterCode(@item.Number)" id="enterCodeBtn"
            class="btn btn-default"
            style="display: block; margin: auto">
        Въведи посещение
    </button>

    @Html.Partial("LandmarkPartial", item);

   
}

