@model DeltaDucks.Web.ViewModels.NotVisitedLandmarksViewModel
@{
    ViewBag.Title = "Visited";
}

<h2>Събрани точки: @Model.Score</h2>

@foreach (var item in Model.NotVisitedLandmarks)
{
    @Html.Partial("Landmark", item);
}

