@model DeltaDucks.Web.ViewModels.VisitedLandmarksViewModel
@{
    ViewBag.Title = "Visited";
}

<h2>Събрани точки: @Model.Score</h2>

@foreach (var item in Model.VisitedLandmarks)
{
    <p class="btn btn-default"
       style="margin: 15px; float: right; color: green">Посетено</p>

    @Html.Partial("LandmarkPartial", item);
}



