@model  DeltaDucks.Web.ViewModels.ChangePictureViewModel
@{
    ViewBag.Title = "ChangePicture";
}


@using (Html.BeginForm("ChangePicture", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-group">
        <label class="col-md-2 control-label">Избери снимка</label>
        <div class="col-md-10">
            <input type="file" name="UserPhoto" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Промени профилна снимка" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
