body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.map {
    width: 800px;
    height: 400px;
}

.map-fullsize {
    width: 100vh;
    height: 70vh;
}

.popover-notifications .popover-content {
    padding: 0;
}

.popover-notifications ul.notifications {
    list-style: none;
    padding-left: 0;
}

.popover-notifications ul.notifications > li {
    line-height: 20px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    padding: 10px;
}

.popover-notifications ul.notifications > li:last-child {
    border-bottom: none;
}

.popover-notifications ul.notifications .highlighted {
    font-weight: bold;
}
