@model IEnumerable<DeltaDucks.Web.ViewModels.LandmarkViewModel>
@{
    ViewBag.Title = "Landmarks";
}

<h2>Landmarks</h2>

<div class="container">
    <div class="jumbotron">
        @*TODO : PAGING *@

        @*TODO : NAME , NUMBER, TOWN*@
        @*TODO : PARTIAL VIEW WITH MORE INFORMATION AND PEOPLE VISITED AND ACTION LINK(TO PAGE) 
        ---- BUTTON FOR CODE --- SCORE WHICH THIS PLACE GIVES  *@
        @*TODO : ADD PICTURE TABLE *@

        @foreach (var item in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.Label(item.Name)
                </div>
                @Html.Partial("Landmark", item)
            </div>
        }

    </div>
</div>
