@model DeltaDucks.Web.ViewModels.LandmarkViewModel
@using DeltaDucks.Web.Properties
@{
    ViewBag.Title = "Home Page";
}

@*<p>@Model.Name</p>*@

<div id="landmarks-map" style="width: 800px; height: 400px;"></div>

@section scripts {

    <script src="http://maps.google.com/maps/api/js?key=AIzaSyA-HJM4VHOVVADcsDYGT6JLBdCM79roIqA"
            type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(() => {
            var element = document.getElementById('landmarks-map');
            var mapService = new App.Services.MapService();
            var mapsController = new App.Controllers.MapsController(mapService);
            mapsController.initializeMap(element);
        });
    </script>

}